{% extends base.html %}

{% block js_init %}

function showTaskTypeOption() {
    var selector = $("select[name=task_type]")[0];
    $(".TaskTypeOptions:visible").hide("fast");
    $("#TaskType" + selector.options[selector.selectedIndex].value + "Options").show("fast")
};

showTaskTypeOption();
$("select[name=task_type]").change(showTaskTypeOption);

{% end %}

{% block core %}

{% comment TODO: Dynamic loading of task types %}
{% from cms.grading.tasktypes.Batch import Batch %}
{% from cms.grading.tasktypes.OutputOnly import OutputOnly %}
{% from cms.grading.tasktypes.Communication import Communication %}
{% from cms.grading.tasktypes.TwoSteps import TwoSteps %}
{% set task_type_list = [Batch, OutputOnly, Communication, TwoSteps] %}

<div class="core_title">
  <h1>New task</h1>
</div>

<form enctype="multipart/form-data" action="{{ url_root }}/add_task/{{ contest.id }}" method="post" >
  <h2 id="title_task_information" class="toggling_on">Task information</h2>

  <div id="task_information">
    <table>
      <tr>
        <td>Name</td>
        <td><input type="text" name="name"/></td>
      </tr>
      <tr>
        <td>Title</td>
        <td><input type="text" name="title"/></td>
      </tr>
      <tr>
        <td>Time limit</td>
        <td><input type="text" name="time_limit" value="1"/> second(s)</td>
      </tr>
      <tr>
        <td>Memory limit</td>
        <td><input type="text" name="memory_limit" value="512"/> MB</td>
      </tr>
      <tr>
        <td>Language code for the official statement</td>
        <td><input type="text" name="official_language" value=""/></td>
      </tr>
    </table>
    <div class="hr"></div>
  </div>

<!-- Task type settings -->

  <h2 id="title_task_type" class="toggling_on">Task type settings</h2>

  <div id="task_type">
    <table>
      <tr>
        <td>Task type</td>
        <td>

          <select name="task_type">
            {% for task_type in task_type_list %}
            <option value="{{ task_type.__name__}}">{{task_type.__name__}}</option>
            {% end %}
          </select>

        {% for task_type in task_type_list %}
        <table class="TaskTypeOptions bordered" id="TaskType{{ task_type.__name__ }}Options" style="display: none;">
          {% for i in range(len(task_type.ACCEPTED_PARAMETERS)) %}
            {% set param_def = task_type.ACCEPTED_PARAMETERS[i] %}
            <tr>
                <td>{{ param_def.name }}</td>
                <td>
                    {% raw param_def.render( "TaskTypeOptions_%s_" % task_type.__name__) %}
                </td>
            </tr>
          {% end %}
        </table>
        {% end %}


        </td>
      </tr>
      <tr>
        <td>Submission format</td>
        <td>
          <table>
            <tr>
              <td>
                <input type="radio" name="submission_format" value="simple"/>
              </td>
              <td>task_name.%l</td>
            </tr>
            <tr>
              <td><input type="radio" name="submission_format" value="other">
              </td>
              <td>
                Other: <input type="text" name="submission_format_other"/></td>
              </td>
            </tr>
          </table>
      </tr>

      <tr>
        <td>Score Type</td>
        <td>
          {% comment TODO: Fetch the score types from ScoreType. %}

          <select name="score_type">
            <option value="Sum">Sum</option>
            <option value="GroupMin">Minimum</option>
            <option value="GroupMul">Multiply</option>
            <option value="GroupThreshold">Threshold</option>
            <option value="Relative">Relative</option>
          </select>

        </td>
      </tr>
      <tr>
        <td>Score Parameters</td>
        <td><input type="text" name="score_parameters"/></td>
      </tr>
    </table>
    <div class="hr"></div>
  </div>
  <h2 id="title_tokens" class="toggling_on">Tokens</h2>

  <div id="tokens">
    <table>
        <td>Initial number of tokens</td>
        <td><input type="text" name="token_initial" value="0"/></td>
      </tr>
      <tr>
        <td>Maximum number of tokens</td>
        <td><input type="text" name="token_max" value="0"/></td>
      </tr>
      <tr>
        <td>Total number of tokens</td>
        <td><input type="text" name="token_total" value="0"/></td>
      </tr>
      <tr>
        <td>Minimum interval between tokens</td>
        <td><input type="text" name="token_min_interval" value="0"/></td>
      </tr>
      <tr>
        <td>Token generation period</td>
        <td><input type="text" name="token_gen_time" value="1"/></td>
      </tr>
      <tr>
        <td>Token generation number</td>
        <td><input type="text" name="token_gen_number" value="1"/></td>
      </tr>
    </table>
    <div class="hr"></div>
  </div>
  <input type="submit"/><input type="reset">
</form>
{% end %}

