{% import time %}
{% import simplejson as json %}
{% import datetime %}
{% from cms.server import format_time_or_date %}
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <script type="text/javascript">
<!--
var url_root = "{{ url_root }}";
-->
    </script>
    <link rel="shortcut icon" href="{{ url_root }}/static/favicon.ico" />
    <link rel="stylesheet" type="text/css" href="{{ url_root }}/static/reset.css">
    <link rel="stylesheet" type="text/css" href="{{ url_root }}/static/style.css">
    <script type="text/javascript" src="{{ url_root }}/static/utils.js"></script>
    <script type="text/javascript" src="{{ url_root }}/static/web_async_library.js"></script>
    <script type="text/javascript" src="{{ url_root }}/static/scripts.js"></script>
    <script type="text/javascript" src="{{ url_root }}/static/jq/jquery-1.7.1.min.js"></script>
    <script type="text/javascript" src="{{ url_root }}/static/jq/jquery.jqplot.min.js"></script>
    <script type="text/javascript" src="{{ url_root }}/static/jq/jqplot.dateAxisRenderer.min.js"></script>
    <script type="text/javascript" src="{{ url_root }}/static/jq/jqplot.enhancedLegendRenderer.min.js"></script>
    <script type="text/javascript" src="{{ url_root }}/static/sh/shCore.js"></script>
    <script type="text/javascript" src="{{ url_root }}/static/sh/shBrushCpp.js"></script>
    <script type="text/javascript" src="{{ url_root }}/static/sh/shBrushDelphi.js"></script>
    <link rel="stylesheet" type="text/css" href="{{ url_root }}/static/jq/jquery.jqplot.min.css"/>
    <link rel="stylesheet" type="text/css" href="{{ url_root }}/static/sh/shCore.css"/>
    <link rel="stylesheet" type="text/css" href="{{ url_root }}/static/sh/shThemeDefault.css"/>

    {% if contest is None %}
    <title>Admin</title>
    {% else %}
    <title>Admin: {{ contest.description }}</title>
    {% end %}

    <script type="text/javascript">
<!--
function init()
{
    cmsrpc = new CMSAjaxRPC();
    cmsutils = new CMSUtils();
    {% if contest is None %}
    utils = new Utils({{ timestamp }}, 0, 0, -1);
    {% else %}
    utils = new Utils({{ timestamp }}, {{ json_encode(contest.start) }}, {{ json_encode(contest.stop) }}, {{ phase }});

    firstDate = new Date();
    utils.get_time();
    setInterval(cmsutils.bind_func(utils, utils.get_time), 1000);
    utils.update_notifications();
    setInterval(cmsutils.bind_func(utils, utils.update_notifications), 15000);
    {% end %}

    $(document).click(utils.hide_subpage);

    // delegate() ensures that the event is fired even for elements
    // that are added in the future.
    $(document).delegate('.toggling_on', 'click', utils.toggle_visibility);
    $(document).delegate('.toggling_off', 'click', utils.toggle_visibility);

    {% block js_init %}{% end %}
}

{% block js %}{% end %}

$(document).ready(init);

//-->
    </script>
  </head>
  <body class="admin">
    <div id="global">
      <div id="sidebar">
        <h1>Administration</h1>
        <ul class="menu">
          <li class="menu_entry"><a class="menu_link" href="{{ url_root }}/{% if contest is not None %}{{ contest.id }}{% end %}">Overview</a></li>
          <li class="menu_entry"><a class="menu_link" href="{{ url_root }}/resources{% if contest is not None %}/{{ contest.id }}{% end %}">Resource usage</a></li>
        </ul>
        <div class="hr"></div>
        <select id="contest_selection_select" onchange="utils.switch_contest()">
          <option value=null {% if contest is None %} selected {% end %}>Select a contest</option>
          {% for i in contest_list %}

          <option
            value="{{ i.id }}"
            {% if contest is not None and contest.id == i.id %}
              selected
            {% end %}
          >
            {{ i.name }} ({{ i.id }})
          </option>
          {% end %}
        </select>
        <a href="{{ url_root }}/contest/add" alt="New contest" style="text-decoration: none;">+</a>

          {% if contest is not None %}
          <div class="sidebar_left">Contest:</div>
          <ul class="menu">
            <li class="menu_entry"><a class="menu_link" href="{{ url_root }}/contest/{{ contest.id }}">General</a></li>
            <li class="menu_entry"><a class="menu_link" href="{{ url_root }}/userlist/{{ contest.id }}">Users</a></li>
            <li class="menu_entry"><a class="menu_link" href="{{ url_root }}/tasklist/{{ contest.id }}">Tasks</a></li>
            <li class="menu_entry"><a class="menu_link" href="{{ url_root }}/announcements/{{ contest.id }}">Announcements</a></li>
            <li class="menu_entry">
              <span id="unanswered_questions" class="unread"
                {% if unanswered == 0 %} style="display: none;" {% end %}>
                {{ unanswered }}
              </span>
              <a class="menu_link" href="{{ url_root }}/questions/{{ contest.id }}">Questions</a>
            </li>
          </ul>
          <div class="hr"></div>
            {% if phase != 1 %}
          <div class="footer">Time left: <span id="remaining"></span></div>
            {% end %}
          {% end %}
        <div class="cr_notice">CMS <a href="http://github.com/cms-dev/cms/">codebase</a> is released under the<br/><a href="http://www.gnu.org/licenses/agpl.txt">GNU Affero General Public License</a>.</div>
      </div>

      <div id="border"></div>
      <div id="core">
        <div id="notifications" class="notifications"></div>
        <div id="subpage" onclick="var event = arguments[0] || window.event; event.stopPropagation()">
          <div id="subpage_border"></div>
          <div id="subpage_background"></div>
          <div id="subpage_content"></div>
        </div>
        {% block core %}{% end %}
      </div>

    </div>
  </body>
</html>
