{% extends base.html %}

{% block core %}
{% from cms.grading.scoretypes import get_score_type %}
<div class="core_title">
  <h1>Submission {{ s.id }}</h1>
</div>

<h2 id="title_details" class="toggling_on">Submission details</h2>
<div id="details">

  <table class="bordered">
    <thead>
      <tr>
        <th style="width: 20%">Property</th>
        <th style="width: 80%">Value</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Id</td>
        <td>{{ s.id }}</td>
      </tr>
      <tr>
        <td>Task</td>
        <td><a href="{{ url_root }}/task/{{ s.task.id }}">{{ s.task.name }}</a></td>
      </tr>
      <tr>
        <td>User</td>
        <td><a href="{{ url_root }}/user/{{ s.user.id }}">{{ s.user.username }}</a></td>
      </tr>
      <tr>
        <td>Files</td>
        <td>
          {% for filename in [x.filename for x in s.task.submission_format] %}
            {% if filename in s.files %}
              {% set real_filename = filename if s.language is None else filename.replace("%l", s.language) %}
          <a href="#" onclick="utils.show_file('{{ real_filename }}','{{ url_root }}/submission_file/{{ s.files[filename].id }}')">
            {{ real_filename }}
          </a>
          <br/>
            {% end %}
          {% end %}
        </td>
      </tr>
      <tr>
        <td>Token</td>
        <td>
          {% if s.token is None %}
          No
          {% else %}
          Yes
          {% end %}
        </td>
      </tr>
      <tr>
        <td>Status</td>
        <td id="submission_status">
          {% if s.compilation_outcome is None %}
          Compiling...
          {% elif s.compilation_outcome == "fail" %}
          Compilation failed
          {% elif not s.evaluated() %}
          Evaluating...
          {% elif s.scored() %}
            {% try %}
              {% set max_score = get_score_type(submission=s).max_score %}
            {% except %}
              {% set max_score = "[Cannot get score type - see logs]" %}
            {% end %}
          Evaluated ({{ s.score }} / {{ max_score }})
            {% for detail in json.loads(s.score_details) %}
          <br/>{{ detail }}
            {% end %}
          {% else %}
          Evaluated
          {% end %}
        </td>
      </tr>
      <tr>
        <td>Compilation attempts</td>
        <td>{{ s.compilation_tries }}</td>
      </tr>
      <tr>
        <td>Compilation shard</td>
        <td>{{ s.compilation_shard }}</td>
      </tr>
      <tr>
        <td>Compilation sandbox</td>
        <td>{{ s.compilation_sandbox }}</td>
      </tr>
      <tr>
        <td>Evaluation attempts</td>
        <td>{{ s.evaluation_tries }}</td>
      </tr>
      <tr>
        <td>Reevaluate</td>
        <td>
          {% set reevaluation_par_name = "submission" %}
          {% set reevaluation_par_value = s.id %}
          {% include reevaluation_buttons.html %}
        </td>
      </tr>
    </tbody>
  </table>

</div>

  {% if s.evaluated() %}

<h2 id="title_evaluation" class="toggling_on">Evaluation</h2>
<div id="evaluation">

  <table class="bordered">
    <thead>
      <tr>
        <th style="width: 10%">Outcome</th>
        <th style="width: 2%"></th>
        <th style="width: 45%">Details</th>
        <th style="width: 8%">Shard</th>
        <th style="width: 15%">Resources</th>
        <th style="width: 20%">Sandbox</th>
      </tr>
    </thead>
    <tbody>
      {% for idx, ev in enumerate(s.evaluations) %}
      <tr>
        <td id="eval_outcome_{{ idx }}">{{ ev.outcome }}</td>
        {% if s.token is not None or s.task.testcases[int(ev.num)].public %}
        <td style="align: center;">&bullet;</td>
        {% else %}
        <td></td>
        {% end %}
        <td id="eval_text_{{ idx }}">{{ ev.text }}</td>
        <td>{{ ev.evaluation_shard }}</td>
        <td>
          {% if ev.memory_used is not None %}
          ({{ (ev.memory_used // 1024) // 1024 }} MB)
          {% end %}
          {% if ev.execution_time is not None %}
          ({{ ev.execution_time }} s)
          {% end %}
          {% if ev.execution_wall_clock_time is not None %}
          ({{ ev.execution_wall_clock_time }} s)
          {% end %}
        </td>
        <td>{{ ev.evaluation_sandbox }}</td>
      </tr>
      {% end %}
    </tbody>
  </table>

</div>


  {% end %}

  {% if s.compiled() %}

<h2 id="title_compilation" class="toggling_on">Compilation</h2>
<div id="compilation">

  <pre>{% if s.compilation_text is not None %}{{ s.compilation_text }}{% end %}</pre>

</div>

  {% end %}

{% end %}
