{% extends base.html %}

{% block js_init %}

function showTaskTypeOption() {
    var selector = $("select[name=task_type]")[0];
    $(".TaskTypeOptions:visible").hide("fast");
    $("#TaskType" + selector.options[selector.selectedIndex].value + "Options").show("fast")
};

showTaskTypeOption();
$("select[name=task_type]").change(showTaskTypeOption);

{% end %}

{% block core %}
{% from cms.grading.scoretypes import get_score_type %}
{% comment TODO: Dynamic loading of task types %}
{% from cms.grading.tasktypes.Batch import Batch %}
{% from cms.grading.tasktypes.OutputOnly import OutputOnly %}
{% from cms.grading.tasktypes.Communication import Communication %}
{% from cms.grading.tasktypes.TwoSteps import TwoSteps %}
{% set task_type_list = [Batch, OutputOnly, Communication, TwoSteps] %}

<div class="core_title">
  <h1>{{ task.title }} ({{ task.name }})</h1>
</div>

<h2 id="title_submissions" class="toggling_on">Submissions</h2>
<div id="submissions">

  {% if submissions == [] %}
  <p>No submissions found.</p>

  {% else %}
  <table class="bordered">
    <thead>
      <tr>
        <th style="width: 10%">Time</th>
        <th style="width: 14%">User</th>
        <th style="width: 35%">Status</th>
        <th style="width: 15%">Files</th>
        <th style="width: 8%">Token</th>
        <th style="width: 18%">Reevaluate</th>
      </tr>
    </thead>
    <tbody>
      {% set reevaluation_par_name = "submission" %}
      {% for s in sorted(submissions, key=lambda s: s.timestamp, reverse=True) %}
      <tr>
        <td><a href="{{ url_root }}/submission/{{ s.id }}">{{ format_time_or_date(s.timestamp) }}</a></td>
        <td><a href="{{ url_root }}/user/{{ s.user.id }}">{{ s.user.username }}</a></td>
        <td>
          {% if s.compilation_outcome is None %}
          Compiling...
          {% else %}
          <div id="title_evaluation_{{ s.id }}" class="toggling_off">
            {% if s.compilation_outcome == "fail" %}
            Compilation failed
            {% elif not s.evaluated() %}
            Evaluating...
            {% elif s.scored() %}
              {% try %}
                {% set max_score = get_score_type(submission=s).max_score %}
              {% except %}
                {% set max_score = "[Cannot get score type - see logs]" %}
              {% end %}
            Evaluated ({{ s.score }} / {{ max_score }})
              {% for detail in json.loads(s.score_details) %}
            <br/>{{ detail }}
              {% end %}
            {% else %}
            Evaluated
            {% end %}
          </div>
          <div id="evaluation_{{ s.id }}" style="display: none;">
            {% if s.evaluated() %}
            <h3>Testcases</h3>
            <table class="nested bordered">
              <thead>
                <tr>
                  <th style="width: 20%">Outcome</th>
                  <th style="width: 5%"></th>
                  <th style="width: 75%">Details</th>
                </tr>
              </thead>
              <tbody>
                {% for ev in s.evaluations %}
                <tr>
                  <td>{{ ev.outcome }}</td>
                  {% if s.token is not None or s.task.testcases[int(ev.num)].public %}
                  <td style="align: center;">&bullet;</td>
                  {% else %}
                  <td></td>
                  {% end %}
                  <td>{{ ev.text }}</td>
                </tr>
                {% end %}
              </tbody>
            </table>
            {% end %}
            <h3>Compilation output</h3><!-- TODO: trim long outputs and add facility to see raw -->
            <pre>{% if s.compilation_text is not None %}{{ s.compilation_text }}{% end %}</pre>
          </div>

          {% end %}
        </td>
        <td>
          {% for filename in [x.filename for x in task.submission_format] %}
            {% if filename in s.files %}
              {% set real_filename = filename if s.language is None else filename.replace("%l", s.language) %}
          <a href="#" onclick="utils.show_file('{{ real_filename }}','{{ url_root }}/submission_file/{{ s.files[filename].id }}')">
            {{ real_filename }}
          </a>
          <br/>
            {% end %}
          {% end %}
        </td>
        <td>
          {% if s.token is None %}
          No
          {% else %}
          Yes
          {% end %}
        </td>
        <td>
          {% set reevaluation_par_value = s.id %}
          {% include reevaluation_buttons.html %}
        </td>
      </tr>
      {% end %}
    </tbody>
  </table>
  <p>
    Reevaluate all {{ len(submissions) }} submissions for this task:
    {% set reevaluation_par_name = "task" %}
    {% set reevaluation_par_value = task.id %}
    {% include reevaluation_buttons.html %}
  </p>
  {% end %}
  <div class="hr"></div>
</div>

<form enctype="multipart/form-data" action="{{ url_root }}/task/{{ task.id }}" method="POST">
  <h2 id="title_task_information" class="toggling_on">Task information</h2>
  <div id="task_information">
    <table>
      <tr>
        <td>Name</td>
        <td><input type="text" name="name" value="{{ task.name }}"/></td>
      </tr>
      <tr>
        <td>Title</td>
        <td><input type="text" name="title" value="{{ task.title }}"/></td>
      </tr>
      <tr>
        <td>Position</td>
        <td>{{ task.num }}</td>
      </tr>
      <tr>
        <td>Statement</td>
        <td>
          {% if len(task.statements) == 0 %}
          No statements uploaded yet
          {% else %}
          <ul>
            {% for statement in task.statements.values() %}
            <li><a href="{{ url_root }}/file/{{ statement.digest }}/statement.pdf">Statement for language "{{ statement.language }}"</a>
              - <a href="{{ url_root }}/delete_statement/{{ statement.id }}">Delete</a></li>
            {% end %}
          </ul>
          {% end %}
          <a href="{{ url_root }}/add_statement/{{ task.id }}">Upload a new statement</a><br/>
        </td>
      </tr>
      <tr>
        <td>Language code for the official statement</td>
        <td><input type="text" name="official_language" value="{{ task.official_language }}"/></td>
      </tr>
      <tr>
        <td>Attachments</td>
        <td>
          <a href="{{ url_root }}/add_attachment/{{ task.id }}" >Add attachment</a><br/>
          {% if len(task.attachments) == 0 %}
            No attachments.
          {% else %}
            {% for attachment in task.attachments.values() %}
              <div class="attachment">
                <a href="{{ url_root }}/file/{{ attachment.digest }}/{{ attachment.filename }}">{{ attachment.filename }}</a>
                - <a href="{{ url_root }}/delete_attachment/{{ attachment.id }}">Delete</a>
              </div>
            {% end %}
          {% end %}
        </td>
      </tr>
      <tr>
        <td>Time limit</td>
        <td><input type="text" name="time_limit" value="{{ task.time_limit }}"/> second(s)</td>
      </tr>
      <tr>
        <td>Memory limit</td>
        <td><input type="text" name="memory_limit" value="{{ task.memory_limit }}"/> MB</td>
      </tr>
    </table>
    <div class="hr"></div>
  </div>

<!-- Task type settings -->

  <h2 id="title_task_type" class="toggling_on">Task type settings</h2>

  <div id="task_type">
    <table>
      <tr>
        <td>Task type</td>
        <td>

          <select name="task_type">
            {% for task_type in task_type_list %}
            <option value="{{ task_type.__name__}}" {% if task.task_type == task_type.__name__ %}selected{% end %}>{{ task_type.__name__ }}</option>
            {% end %}
          </select>
        {% set parameters = json.loads(task.task_type_parameters) if task.task_type_parameters != '' else None %}

        {% for task_type in task_type_list %}
        <table class="TaskTypeOptions bordered" id="TaskType{{ task_type.__name__ }}Options" style="display: none;">
          {% for i in range(len(task_type.ACCEPTED_PARAMETERS)) %}
            {% set param_def = task_type.ACCEPTED_PARAMETERS[i] %}
            {% set parameter_value = parameters[i] if task.task_type == task_type.__name__ and parameters is not None and i < len(parameters) else None %}
            <tr>
                <td>{{ param_def.name }}</td>
                <td>
                    {% raw param_def.render( "TaskTypeOptions_%s_" % task_type.__name__ , parameter_value) %}
                </td>
            </tr>
          {% end %}
        </table>
        {% end %}

        </td>
      </tr>
      <tr>
        <td>Submission format</td>
        <td>
          <input type="text" name="submission_format" value="{{ json.dumps([x.filename for x in task.submission_format]) }}"/>
        </td>
      </tr>
      <tr>
        <td>Managers</td>
        <td>
          <a href="{{ url_root }}/add_manager/{{ task.id }}">Add a manager</a></br>
          {% if len(task.managers) == 0 %}
            No managers.
          {% else %}
            {% for manager in task.managers.values() %}
              <div class="manager">
                <a href="{{ url_root }}/file/{{ manager.digest }}/{{ manager.filename }}">{{ manager.filename }}</a>
                - <a href="{{ url_root }}/delete_manager/{{ manager.id }}">Delete</a>
              </div>
            {% end %}
          {% end %}
        </td>
      </tr>
      <tr>
        <td>Score Type</td>
        <td>
          <!--
            TODO: Fetch the score types from ScoreType.
          -->
          <select name="score_type">
            <option value="Sum"{% if task.score_type == "Sum" %} selected{% end %}>
              Sum
            </option>
            <option value="GroupMin"{% if task.score_type == "GroupMin" %} selected{% end %}>
              Minimum
            </option>
            <option value="GroupMul"{% if task.score_type == "GroupMul" %} selected{% end %}>
              Multiply
            </option>
            <option value="GroupThreshold"{% if task.score_type == "GroupThreshold" %} selected{% end %}>
              Threshold
            </option>
            <option value="Relative"{% if task.score_type == "Relative" %} selected{% end %}>
              Relative
            </option>
          </select>
        </td>
      </tr>
      <tr>
        <td>Score Parameters</td>
        <td><input type="text" name="score_parameters" value="{{ task.score_parameters }}"/></td>
      </tr>
    </table>
    <div class="hr"></div>
  </div>

  <h2 id="title_testcases" class="toggling_on">Testcases</h2>
  <div id="testcases">
    <a href="{{ url_root }}/add_testcase/{{ task.id }}">Add a testcase</a>
    <table class="bordered" style="text-align:center">
      <thead>
        <tr>
          <th>Position</th>
          <th>Public</th>
          <th>Input</th>
          <th>Output</th>
          <th>Ops</th>
        </tr>
      </thead>
      <tbody>
        {% for testcase in task.testcases %}
        <tr>
          <td style="font-weight:bold;">{{ testcase.num }}</td>
          <td style="font-weight:bold;">
            <input type="checkbox" name="testcase_{{ testcase.num }}_public" {% if testcase.public %}checked{% end %} />
          </td>
          <td>
            <a href="#" onclick="utils.show_file('input{{ testcase.num }}','{{ url_root }}/file/{{ testcase.input }}/input{{ testcase.num }}')">Show input</a>
          </td>
          <td>
            <a href="#" onclick="utils.show_file('output{{ testcase.num }}','{{ url_root }}/file/{{ testcase.output }}/output{{ testcase.num }}')">Show output</a>
          </td>
          <td>
            <a href="{{ url_root }}/delete_testcase/{{ testcase.id }}">Delete</a>
          </td>
        </tr>
        {% end %}
      </tbody>
    </table>
    <div class="hr"></div>
  </div>

  <h2 id="title_token_options" class="toggling_on">Token Options</h2>
  <div id="token_options">
    <table>
      <tr>
        <td>Initial number of tokens</td>
        <td><input type="text" name="token_initial" value="{{ task.token_initial if task.token_initial is not None else ""}}" /></td>
      </tr>
      <tr>
        <td>Maximum number of tokens</td>
        <td><input type="text" name="token_max" value="{{ task.token_max if task.token_max is not None else "" }}" /></td>
      </tr>
      <tr>
        <td>Total number of tokens</td>
        <td><input type="text" name="token_total" value="{{ task.token_total if task.token_total is not None else "" }}" /></td>
      </tr>
      <tr>
        <td>Minimum interval between tokens</td>
        <td><input type="text" name="token_min_interval" value="{{ task.token_min_interval if task.token_min_interval is not None else "" }}" /></td>
      </tr>
      <tr>
        <td>Token generation period</td>
        <td><input type="text" name="token_gen_time" value="{{ task.token_gen_time if task.token_gen_time is not None else "" }}" /></td>
      </tr>
      <tr>
        <td>Token generation number</td>
        <td><input type="text" name="token_gen_number" value="{{ task.token_gen_number if task.token_gen_number is not None else "" }}" /></td>
      </tr>
    </table>
    <div class="hr"></div>
  </div>
  <input type="submit" value="Update" />
  <input type="reset" value="Reset" />
</form>
{% end %}
