{% extends base.html %}

{% block js %}
function question_reply_toggle(element, invoker)
{
  var obj = document.getElementsByClassName("reply_question")[element];
  if (obj.style.display != "block")
    {
      obj.style.display = "block";
      invoker.innerHTML = "Hide reply";
    }
  else
    {
      obj.style.display = "none";
      invoker.innerHTML = "Reply";
    }
  return false;
}

function update_additional_answer(element, invoker)
{
  var obj = document.getElementsByClassName("alternative_answer")[element];
  if (invoker.selectedIndex == 5)
    obj.style.display = "block";
  else
    obj.style.display = "none";
}
{% end %}

{% block core %}
{% from cms.grading.scoretypes import get_score_type %}

<h1>{{ selected_user.first_name }} {{ selected_user.last_name }} ({{ selected_user.username }})</h1>

<h2 id="title_submissions" class="toggling_on">Submissions</h2>
<div id="submissions">

  {% if submissions == [] %}
  <p>No submissions found.</p>

  {% else %}
  <table class="bordered">
    <thead>
      <tr>
        <th style="width: 10%">Time</th>
        <th style="width: 14%">Task</th>
        <th style="width: 35%">Status</th>
        <th style="width: 15%">Files</th>
        <th style="width: 8%">Token</th>
        <th style="width: 18%">Reevaluate</th>
      </tr>
    </thead>
    <tbody>
      {% set reevaluation_par_name = "submission" %}
      {% for s in sorted(submissions, key=lambda s: s.timestamp, reverse=True) %}
      <tr>
        <td><a href="{{ url_root }}/submission/{{ s.id }}">{{ format_time_or_date(s.timestamp) }}</a></td>
        <td><a href="{{ url_root }}/task/{{ s.task.id }}">{{ s.task.name }}</a></td>
        <td>
          {% if s.compilation_outcome is None %}
          Compiling...
          {% else %}
          <div id="title_evaluation_{{ s.id }}" class="toggling_off">
            {% if s.compilation_outcome == "fail" %}
            Compilation failed
            {% elif not s.evaluated() %}
            Evaluating...
            {% elif s.scored() %}
              {% try %}
                {% set max_score = get_score_type(submission=s).max_score %}
              {% except %}
                {% set max_score = "[Cannot get score type - see logs]" %}
              {% end %}
            Evaluated ({{ s.score }} / {{ max_score }})
              {% for detail in json.loads(s.score_details) %}
            <br/>{{ detail }}
              {% end %}
            {% else %}
            Evaluated
            {% end %}
          </div>
          <div id="evaluation_{{ s.id }}" style="display: none;">
            {% if s.evaluated() %}
            <h3>Testcases</h3>
            <table class="nested bordered">
              <thead>
                <tr>
                  <th style="width: 20%">Outcome</th>
                  <th style="width: 5%"></th>
                  <th style="width: 75%">Details</th>
                </tr>
              </thead>
              <tbody>
                {% for ev in s.evaluations %}
                <tr>
                  <td>{{ ev.outcome }}</td>
                  {% if s.token is not None or s.task.testcases[int(ev.num)].public %}
                  <td style="align: center;">&bullet;</td>
                  {% else %}
                  <td></td>
                  {% end %}
                  <td>{{ ev.text }}</td>
                </tr>
                {% end %}
              </tbody>
            </table>
            {% end %}
            <h3>Compilation output</h3>{% comment TODO: trim long outputs and add facility to see raw %}
            <pre>{% if s.compilation_text is not None %}{{ escape(s.compilation_text) }}{% end %}</pre>
          </div>

          {% end %}
        </td>
        <td>
          {% for filename, sub_file in s.files.items() %}
          <a href="#" onclick="utils.show_file('{{ filename.replace("%l", s.language) }}','{{ url_root }}/submission_file/{{ sub_file.id }}')">{{ filename.replace("%l", s.language) }}<br/>
          {% end %}
        </td>
        <td>
          {% if s.token is None %}
          No
          {% else %}
          Yes
          {% end %}
        </td>
        <td>
          {% set reevaluation_par_value = s.id %}
          {% include reevaluation_buttons.html %}
        </td>
      </tr>
      {% end %}
    </tbody>
  </table>
  <p>
    Reevaluate all {{ len(submissions) }} submissions for this user:
    {% set reevaluation_par_name = "user" %}
    {% set reevaluation_par_value = selected_user.id %}
    {% include reevaluation_buttons.html %}
  </p>
  {% end %}
  <div class="hr"></div>
</div>


<h2 id="title_general_info" class="toggling_on">General Information</h2>
<div id="general_info">
  <form action="{{ url_root }}/user/{{ selected_user.id }}" method="POST">
    <table>
      <tr>
        <td>First name</td>
        <td><input type="text" name="first_name" value="{{ selected_user.first_name }}"/></td>
      </tr>
      <tr>
        <td>Last name</td>
        <td><input type="text" name="last_name" value="{{ selected_user.last_name }}"/></td>
      </tr>
      <tr>
        <td>Username</td>
        <td><input type="text" name="username" value="{{ selected_user.username }}"/></td>
      </tr>
      <tr>
        <td>Password</td>
        <!-- FIXME: Plain text? -->
        <td><input type="text" name="password" value="{{ selected_user.password }}"/></td>
      </tr>
      <tr>
        <td>Email</td>
        <td><input type="text" name="email" value="{{ selected_user.email }}"/></td>
      </tr>
      <tr>
        <td>IP</td>
        <td><input type="text" name="ip" value="{{ selected_user.ip }}"/></td>
      </tr>
      <tr>
        <td>First login time during contest</td>
        {% if selected_user.starting_time is not None %}
        <td><input type="text" name="starting_time" value="{{ datetime.datetime.fromtimestamp(selected_user.starting_time).strftime("%d/%m/%Y %H:%M:%S")  }}"></td>
        {% else %}
        <td><input type="text" name="starting_time" value="None"></td>
        {% end %}
      </tr>
      <tr>
        <td>Hidden?</td>
        <td><input type="checkbox" name="hidden" {% if selected_user.hidden %}checked{% end %}/></td>
      </tr>
    </table>
    <input type="submit" value="Update" />
    <input type="reset" value="Reset" />
  </form>
  <div class="hr"></div>
</div>


<h2 id="title_questions" class="toggling_on">Questions</h2>
<div id="questions">
  {% if selected_user.questions != [] %}
  <div class="notifications">
    {% for msg_i, msg in enumerate(selected_user.questions) %}
    <div class="notification communication">
      <div class="notification_msg">
        <div class="notification_timestamp">{{ format_time_or_date(msg.question_timestamp) }}</div>
        <div class="notification_subject">{{ msg.subject }}</div>
        <div class="notification_text">{{ msg.text }}</div>
        {% if msg.reply_timestamp is not None %}
        <div class="notification_subject">Reply. {{ msg.reply_subject }}</div>
        <div class="notification_text">{{ msg.reply_text }}</div>
        {% else %}
        <div class="notification_subject">Not yet replied.</div>
        {% end %}
        <div class="reply_question_toggle">
          <a href="#" onclick="return question_reply_toggle({{ msg_i }}, this);">Reply</a>
        </div>
        <div class="reply_question" >
          <hr/>
          <form class="reply_question_form" action="{{ url_root }}/question/{{ msg.id }}" method="POST">
            <input type="hidden" name="ref" value="/user/{{ selected_user.id }}"/>
            Precompiled answer:
            <select name="reply_question_quick_answer" onchange="update_additional_answer({{ msg_i }}, this);">
              <option value="yes">Yes</option>
              <option value="no">No</option>
              <option value="answered">Answered in task description</option>
              <option value="invalid">Invalid question</option>
              <option value="nocomment">No comment</option>
              <option selected value="other">Other</option>
            </select>
            <br/>
            <div class="alternative_answer">
              Alternative answer:<br/>
              <textarea name="reply_question_text"></textarea><br/>
            </div>
            <input type="submit" value="Send"/>
          </form>
        </div>
      </div>
    </div>
    {% end %}
  </div>

  {% else %}
  No questions.

  {% end %}
  <div class="hr"></div>
</div>


<h2 id="title_messages" class="toggling_on">Messages</h2>
<div id="messages">

  <div class="notifications">
      <div class="notification communication">
        <form id="send_message_form" action="{{ url_root }}/message/{{ selected_user.id }}" method="POST">
          <div class="notification_msg">
            <div class="notification_subject">
              Subject:
              <input id="send_message_subject" type="text" name="message_subject" style="width: 100%" />
            </div>
            <div class="notification_text">
              Text:
              <textarea name="message_text" style="width: 100%" ></textarea>
            </div>
          <input type="submit" value="Send"/>
          </div>
        </form>
      </div>

    {% if selected_user.messages != [] %}

      {% for msg_i, msg in enumerate(reversed(selected_user.messages)) %}
      <div class="notification communication">
        <div class="notification_msg">
          <div class="notification_timestamp">{{ format_time_or_date(msg.timestamp) }}</div>
          <div class="notification_subject">{{ msg.subject }}</div>
          <div class="notification_text">{{ msg.text }}</div>
        </div>
      </div>
      {% end %}

    {% else %}
      No messages.
    {% end %}
  </div>
  <div class="hr"></div>
</div>


{% end %}
