{% import time %}
{% import simplejson as json %}
{% from cms.server import format_time_or_date, format_amount_of_time %}
{% from cmscommon.Cryptographics import encrypt_number %}
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <script type="text/javascript">
<!--
var url_root = "{{ url_root }}";
-->
    </script>
    <link rel="shortcut icon" href="{{ url_root }}/static/favicon.ico" />
    <link rel="stylesheet" type="text/css" href="{{ url_root }}/static/reset.css"/>
    <link rel="stylesheet" type="text/css" href="{{ url_root }}/static/style.css"/>
    <script type="text/javascript" src="{{ url_root }}/static/utils.js"></script>
    <script type="text/javascript" src="{{ url_root }}/static/web_async_library.js"></script>
    <script type="text/javascript" src="{{ url_root }}/static/scripts.js"></script>
    <script type="text/javascript" src="{{ url_root }}/static/jq/jquery-1.7.1.min.js"></script>
    <script type="text/javascript" src="{{ url_root }}/static/sh/shCore.js"></script>
    <script type="text/javascript" src="{{ url_root }}/static/sh/shBrushCpp.js"></script>
    <script type="text/javascript" src="{{ url_root }}/static/sh/shBrushDelphi.js"></script>
    <link rel="stylesheet" type="text/css" href="{{ url_root }}/static/sh/shCore.css"/>
    <link rel="stylesheet" type="text/css" href="{{ url_root }}/static/sh/shThemeDefault.css"/>

    <title>{{ contest.description }}</title>

    <script type="text/javascript">
<!--
function init()
{
    cmsrpc = new CMSAjaxRPC();
    cmsutils = new CMSUtils();
    utils = new Utils({{ timestamp }}, {{ json_encode(contest.start) }}, {{ json_encode(valid_phase_end) }}, {{ phase }});

    firstDate = new Date();
    utils.get_time();
    setInterval(cmsutils.bind_func(utils, utils.get_time), 1000);
    utils.update_notifications();
    setInterval(cmsutils.bind_func(utils, utils.update_notifications), 15000);

    $(document).click(utils.hide_subpage);
    // delegate() ensures that the event is fired even for elements
    // that are added in the future.
    $(document).delegate('.toggling_on', 'click', utils.toggle_visibility);
    $(document).delegate('.toggling_off', 'click', utils.toggle_visibility);


    {% block js_init %}{% end %}
}

{% block js %}{% end %}

$(document).ready(init);

//-->
    </script>
  </head>
  <body>
    <div id="global">
      <div id="sidebar">
        <h1>{{ contest.description }}</h1>
        <ul class="menu">
          <li class="menu_entry">
            <span id="unread_public" class="unread" style="display: none;">0</span>
            <a class="menu_link" href="{{ url_root }}/">{{ _("Overview") }}</a>
          </li>
          <li class="menu_entry">
            <a class="menu_link" href="{{ url_root }}/instructions">{{ _("Instructions") }}</a>
          </li>
          <li class="menu_entry">
            <span id="unread_private" class="unread" style="display: none;">0</span>
            <a class="menu_link" href="{{ url_root }}/communication">{{ _("Communication") }}</a>
          </li>
        </ul>
        <div class="hr"></div>
        {% if current_user is not None and phase == 0 %}
        <div class="sidebar_left">{{ _("Tasks:") }}</div>
        <div class="sidebar_right">
          <ul class="menu">
            {% for t_iter in contest.tasks %}
            <li class="menu_entry"><a class="menu_link" href="{{ url_root }}/tasks/{{ encrypt_number(t_iter.id) }}">{{t_iter.name}}</a></li>
            {% end %}
          </ul>
        </div>
        <div class="hr"></div>
        {% end %}
        {% if current_user is None %}
          {% if handler.get_argument("login_error", "") != "" %}
        <div class="footer login_error">{{ _("Failed to log in.") }}</div>
          {% end %}
        <form action="{{ url_root }}/login" method="POST">
          <input type="hidden" name="next" value="{{ handler.get_argument("next", "/") }}">
          <div class="footer">
            <div class="sidebar_left">{{ _("Username:") }}</div>
            <div class="sidebar_right"><input type="text" name="username" size="12" /></div>
          </div>
          <div class="footer">
            <div class="sidebar_left">{{ _("Password:") }}</div>
            <div class="sidebar_right"><input type="password" name="password" size="12" /></div>
          </div>
          <div class="footer sidebar_right"><input type="submit" value="{{ _("Sign in") }}" /></div>{% comment _("Sign in") %}
        </form>
        {% else %}
          {% if phase != 1 %}
        <div class="footer">{{ _("Time left:") }} <span id="remaining"></span></div>
          {% end %}
        <div class="footer">{{ current_user.first_name }} {{ current_user.last_name }} - {{ current_user.username }} (<a href="{{ url_root }}/logout">{{ _("logout") }}</a>)</div>
        {% end %}
        <div class="cr_notice">CMS <a href="http://github.com/cms-dev/cms/">codebase</a> is released under the<br/><a href="http://www.gnu.org/licenses/agpl.txt">GNU Affero General Public License</a>.</div>
      </div>
      <div id="border"></div>

      <div id="core">
        <div id="notifications" class="notifications"></div>
        <div id="subpage" onclick="var event = arguments[0] || window.event; event.stopPropagation()">
          <div id="subpage_border"></div>
          <div id="subpage_background"></div>
          <div id="subpage_content"></div>
        </div>
        {% block core %}{% end %}
      </div>


    </div>
  </body>
</html>
