{% extends base.html %}
{% block core %}
{% from cms import config %}
<h1>{{ _("Communication") }}</h1>

{% if config.allow_questions %}
<h2 id="title_submit_questions" class="toggling_on">{{ _("Submit a question") }}</h2>
<div id="submit_questions">
  <form action="{{ url_root }}/question" method="POST">
    <div class="footer">{{ _("Subject:") }}</div>
    <input type="text" name="question_subject" size="35" />
    <div class="footer">{{ _("Text:") }}</div>
    <textarea name="question_text" cols="40" rows="5"></textarea>
    <p><input type="submit" value="{{ _("Ask question") }}" /></p>{% comment _("Ask question") %}
  </form>
  <div class="hr"></div>
</div>

<h2 id="title_questions" class="toggling_on">{{ _("Questions") }}</h2>
<div id="questions">
  {% if current_user.questions != [] %}
  <div class="notifications">
    {% for msg in current_user.questions %}
    <div class="notification communication">
      <div class="notification_msg">
        <div class="notification_timestamp">{{ format_time_or_date(msg.question_timestamp) }}</div>
        <div class="notification_subject">{{ msg.subject }}</div>
        <div class="notification_text">{{ msg.text }}</div>
        {% if msg.reply_timestamp is not None %}
        <div class="notification_subject">{{ _("Reply.") }} {{ msg.reply_subject }}</div>
        <div class="notification_text">{{ msg.reply_text }}</div>
        {% else %}
        <div class="notification_subject">{{ _("Please wait for reply.") }}</div>
        {% end %}
      </div>
    </div>
    {% end %}
  </div>

  {% else %}
  {{ _("No questions.") }}

  {% end %}
  <div class="hr"></div>
</div>
{% end %}

<h2 id="title_messages" class="toggling_on">{{ _("Messages") }}</h2>
<div id="messages">
  {% if current_user.messages != [] %}
  <div class="notifications">
    {% for msg in current_user.messages %}
    <div class="notification communication">
      <div class="notification_msg">
        <div class="notification_timestamp">{{ format_time_or_date(msg.timestamp) }}</div>
        <div class="notification_subject">{{ msg.subject }}</div>
        <div class="notification_text">{{ msg.text }}</div>
      </div>
    </div>
    {% end %}
  </div>

  {% else %}
  {{ _("No messages.") }}

  {% end %}
</div>

{% end %}
