{% extends base.html %}

{% block core %}
{% from cms.grading import get_compilation_command %}

<h1>{{ _("Instructions") }}</h1>

<h2 id="title_instruction_comp" class="toggling_on">{{ _("Compilation") }}</h2>
<div id="instruction_comp">
  <table class="nobordered">
    <tr><td><strong>{{ _("C:") }}</strong></td><td><code>{{ " ".join(get_compilation_command("c", ["task.c"], "task")) }}</code></td></tr>
    <tr><td><strong>{{ _("C++:") }}</strong></td><td><code>{{ " ".join(get_compilation_command("cpp", ["task.cpp"], "task")) }}</code></td></tr>
    <tr><td><strong>{{ _("Pascal:") }}</strong></td><td><code>{{ " ".join(get_compilation_command("pas", ["task.pas"], "task")) }}</code></td></tr>
  </table>
  <div class="hr"></div>
</div>


<h2 id="title_instruction_doc" class="toggling_on">{{ _("Documentation") }}</h2>
<div id="instruction_doc">
  <ul class="normal_list">
    <li><a href="{{ url_root }}/stl/index.html">{{ _("Standard Template Library") }}</a></li>
  </ul>
</div>

{% end %}
