{% extends base.html %}
{% block core %}

{% if current_user is not None %}

<h1>{{ _("Overview") }}</h1>

<h2 id="title_announcements" class="toggling_on">{{ _("Announcements") }}</h2>
<div id="announcements">
  {% if contest.announcements != [] %}
  <div class="notifications">
    {% for msg in contest.announcements %}
    <div class="notification communication">
      <div class="notification_msg">
        <div class="notification_timestamp">{{ format_time_or_date(msg.timestamp) }}</div>
        <div class="notification_subject">{{ msg.subject }}</div>
        <div class="notification_text">{{ msg.text }}</div>
      </div>
    </div>
    {% end %}
  </div>

  {% else %}
  {{ _("No announcements.") }}

  {% end %}
  <div class="hr"></div>
</div>

<h2 id="title_general_information" class="toggling_on">{{ _("General information") }}</h2>
<div id="general_information">

  {% if phase == 0 %}
  <p>
    {{ _("The contest started at %(start_time)s and will end at %(stop_time)s.") % {"start_time": format_time_or_date(contest.start), "stop_time": format_time_or_date(contest.stop)} }}
  </p>
  {% if contest.per_user_time is not None %}
  <p>
    {{ _("You have until %(valid_phase_end)s to complete the contest.") % {"valid_phase_end": format_time_or_date(valid_phase_end)} }}
  </p>
  {% end %}
  {% elif phase == -1 %}
  <p>{{ _("The contest will start at %(start_time)s and will end at %(stop_time)s.") % {"start_time": format_time_or_date(contest.start), "stop_time": format_time_or_date(contest.stop)} }}</p>
  {% if contest.per_user_time is not None %}
  <p>
    {{ _("You will have %(per_user_time)s to complete the contest, starting from the first time you are logged in after the start of the contest.") % {"per_user_time": format_amount_of_time(contest.per_user_time)} }}
  </p>
  <p>
    {{ _("IMPORTANT: if you do not want to start the contest right after %(start_time)s, please log out.") % {"start_time": format_time_or_date(contest.start)} }}
  </p>
  {% end %}

  {% elif phase == 1 %}
  <p>{{ _("The contest has ended.") }}</p>
  {% end %}
</div>

{% else %}
<h1>{{ _("Authentication required") }}</h1>
{{ _("Please login to continue.") }}

{% end %}

{% end %}
