{% import simplejson as json %}
{% from cms.grading.scoretypes import get_score_type %}
{% from cmscommon.Cryptographics import encrypt_number %}

{% set encrypted_id = encrypt_number(s.id) %}
{% try %}
  {% set score_type = get_score_type(submission=s) %}
{% except %}
  {% set score_type = None %}
{% end %}
<div id="submission_status_{{ encrypted_id }}" name="submission_status"
    {% if s.compilation_outcome is None or (s.compilation_outcome != "fail" and not s.evaluated()) %}
    class="submission_pending"
    {% end %}
>
{% if s.compilation_outcome is None %}
{{ _("Compiling...") }}
{% else %}

<div id="title_evaluation_{{ encrypted_id }}" class="toggling_off">
  {% if s.compilation_outcome == "fail" %}
  {{ _("Compilation failed") }}
  {% elif not s.evaluated() %}
  {{ _("Evaluating...") }}
  {% elif s.scored() %}
    {% if s.token is not None %}
  Evaluated
      {% if score_type is not None and score_type.max_score != 0 %}
        ({{ s.score }} / {{ score_type.max_score }})
      {% else %}
        ({{ s.score }})
      {% end %}
      {% for detail in json.loads(s.score_details) %}
  <br/>{{ detail }}
      {% end %}
    {% else %}
  Evaluated
      {% if score_type is not None and score_type.max_public_score != 0 %}
        ({{ s.public_score }} / {{ score_type.max_public_score }})
      {% else %}
        ({{ s.public_score }})
      {% end %}
      {% for detail in json.loads(s.public_score_details) %}
  <br/>{{ detail }}
      {% end %}
    {% end %}
  {% else %}
  Evaluated
  {% end %}
</div>
<div id="evaluation_{{ encrypted_id }}" style="display: none;">
  {% if s.evaluated() %}
    {% if s.token is None %}
  <h3>{{ _("Public testcases") }}</h3>
    {% else %}
  <h3>{{ _("Detailed feedback") }}</h3>
    {% end %}
  <table class="nested bordered">
    <thead>
      <tr>
        <th style="width: 20%">{{ _("Outcome") }}</th>
        <th style="width: 80%">{{ _("Details") }}</th>
      </tr>
    </thead>
    <tbody>
      {% for ev in s.evaluations %}
        {% if s.token is not None or s.task.testcases[int(ev.num)].public %}
      <tr><td>{{ ev.outcome }}</td><td>{{ ev.text }}</td></tr>
        {% end %}
      {% end %}
      {% if s.token is None and not any([testcase.public for testcase in s.task.testcases]) %}
      <tr><td colspan="2">{{ _("No specified testcases for partial feedback for this task.") }}</td></tr>
      {% end %}
    </tbody>
  </table>
  {% end %}
  <h3>{{ _("Compilation output") }}</h3>{% comment TODO: trim long outputs and add facility to see raw %}
  <pre>{% if s.compilation_text is not None %}{{ s.compilation_text }}{% end %}</pre>
</div>

{% end %}
</div>
