body
{
    /* FIXME: I'd suggest putting a 0.75em font-size */
    font: 1em/1.5em sans-serif;

    background-color: #F6F6F6;
    background-image: -webkit-linear-gradient(#FFFFFF, #EDEDED);
    background-image:    -moz-linear-gradient(#FFFFFF, #EDEDED);
    background-image:     -ms-linear-gradient(#FFFFFF, #EDEDED);
    background-image:      -o-linear-gradient(#FFFFFF, #EDEDED);
    background-image:         linear-gradient(#FFFFFF, #EDEDED);
    background-attachment: fixed;

    margin: 0;
    overflow-y: scroll;
}

body.user_panel,
body.team_search
{
    overflow: hidden;
}

/* TODO: the following two might be omitted */

td
{
    padding: 0;
}

a
{
    outline: none;
}


/******************************************************************************\
|                                                                              |
|                                   Page layout                                |
|                                   -----------                                |
\******************************************************************************/


.outer_frame
{
    width: 100%;
    top: 0;
    position: absolute;
}

.logo_panel
{
    position: fixed;
    top: 24px;
    left: 24px;
    width: 200px;
}

.upper_panel
{
    position: fixed;
    top: -2px;
    left: 248px;
    right: -2px;
    height: 3em;
    border: 2px solid #FAFAFA;
    border-radius: 0 0 0 10px;
    background-color: #EAEAEC;
    box-shadow: 0 0 2px 0 gray;
    z-index: 9;
}

.right_panel
{
    position: fixed;
    left: -2px;
    top: 208px;
    bottom: 24px;
    width: 190px;
    border: 2px solid #FAFAFA;
    border-radius: 0 10px 10px 0;
    background-color: #EAEAEC;
    box-shadow: 0 0 2px 0 gray;
    z-index: 8;
    padding: 20px 16px 16px;
}

.inner_frame
{
    margin: 6em 36px 60px 260px;
    padding: 2px 0 0;
}


/******************************************************************************\
|                                                                              |
|                                    Time View                                 |
|                                    ---------                                 |
\******************************************************************************/

/* CSS to put TimeView in top-right corner */
/*
#timer
{
}

#timer .contest_name
{
    display: none;
}

#timer .contest_time
{
    position: fixed;
    top: 0;
    right: 2px;
    height: 3em;
    text-align: right;
    line-height: 1.2em;
    font-size: 2.5em;
    z-index: 11;
}
*/

/* CSS to put TimeView above the left panel */
#timer
{
    position: fixed;
    left: 0px;
    top: 208px;
    width: 224px;
    height: 48px;
}

#timer.active + .right_panel
{
    top: 280px;
}

#timer .contest_name
{
    text-align: center;
    line-height: 16px;
    font-size: 12px;
}

#timer .contest_time
{
    text-align: center;
    line-height: 32px;
    font-size: 32px;
}


/******************************************************************************\
|                                                                              |
|                                   Right panel                                |
|                                   -----------                                |
\******************************************************************************/


.overview
{
    position: relative;
    height: 100%;
    width: 100%;
}

.overview .bar1
{
    position: absolute;
    top: -2px;
    left: 0;
    width: 5px;
    bottom: 0;
    background-color: black;
}

.overview .bar2
{
    position: absolute;
    top: -2px;
    right: 0;
    width: 5px;
    bottom: 0;
    background-color: black;
}

.overview .mark1
{
    position: absolute;
    left: 5px;
    right: 145px;
    height: 2px;
    background-color: rgba(0,0,0,0.5);
}

.overview .mark2
{
    position: absolute;
    right: 5px;
    left: 145px;
    height: 2px;
    background-color: rgba(0,0,0,0.5);
}

.overview .mark1.selected
{
    background-color: blue;
    right: 125px;
    height: 4px;
}

.overview .mark2.selected
{
    background-color: blue;
    left: 125px;
    height: 4px;
}


/******************************************************************************\
|                                                                              |
|                                   Team search                                |
|                                   -----------                                |
\******************************************************************************/


div.team_search input.search_field
{
    position: relative;
    font-size: 1em;
    line-height: 1.5em;
    height: 1.5em;
    padding: 0.25em;
    margin: 0.5em;
    border: 0;
    border-radius: 0.5em;
    box-sizing: content-box;
    z-index: 11;
    background-color: #FFFFFF;
    outline: 0;
}

div.team_search div.search_results
{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5);
    z-index: 10;
    display: none;
}

body.team_search div.team_search input.search_field
{
    border: 1px solid #555555;
    top: -1px;
    left: -1px;
}

body.team_search div.team_search div.search_results
{
    display: block;
}

div.team_search div.search_results div.frame
{
    position: absolute;
    top: 64px;
    bottom: 48px;
    left: 0;
    right: 0;
    margin: 0 auto;
    width: 940px;
    border-radius: 12px;
    background-color: white;
}

div.team_search div.search_results img.close
{
    position: absolute;
    top: -10px;
    right: -10px;
    width: 24px;
    height: 24px;
    cursor: pointer;
}

div.team_search div.search_results div.body
{
    position: absolute;
    top: 14px; /* 20px - 0.5em at a 12px font-size */
    bottom: 14px; /* 20px - 0.5em at a 12px font-size */
    left: 10px;
    right: 10px;
    overflow: auto;
}

div.team_search div.search_results div.body div.item
{
    float: left;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 25%;
    height: 3em;
    border: solid white;
    border-width: 0.5em 10px;
    padding: 0.25em 5px;
    background-color: lightgray;
    position: relative;
}

div.team_search div.search_results div.body div.item.hidden
{
    display: none;
}

div.team_search div.search_results div.body div.item input
{
    position: absolute;
    top: 0.25em;
    left: 0.25em;
    width: 1.5em;
    height: 1.5em;
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: content-box;
    font-size: 1em;
}

div.team_search div.search_results div.body div.item label
{
    display: block;
    position: absolute;
    top: 0;
    left: 2em;
    right: 0;
    bottom: 0;
    overflow: hidden;
    padding: 0.25em 0.25em 0.25em 4em;
    white-space: nowrap;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    user-select: none;
}

div.team_search div.search_results div.body div.item label img
{
    position: absolute;
    left: 0.5em;
    top: 0.25em;
    max-width: 3em;
    max-height: 1.5em;
}


/******************************************************************************\
|                                                                              |
|                                   Scoreboard                                 |
|                                   ----------                                 |
\******************************************************************************/


table.scoreboard
{
    width: 100%;
    table-layout: fixed;
}

table.scoreboard colgroup col.sel
{
    width: 2em;
}

table.scoreboard colgroup col.rank
{
    width: 48px;
}

table.scoreboard colgroup col.f_name
{
    width: 160%;
}

table.scoreboard colgroup col.l_name
{
    width: 160%;
}

table.scoreboard colgroup col.team
{
    width: 48px;
}

table.scoreboard colgroup col.score.task
{
    width: 36%;
    min-width: 36px;
}

table.scoreboard colgroup col.score.contest
{
    width: 54%;
    min-width: 54px;
}

table.scoreboard colgroup col.score.global
{
    width: 72%;
    min-width: 72px;
}

table.scoreboard thead tr
{
    height: 2.5em;
}

table.scoreboard tbody tr
{
    height: 2em;
}

table.scoreboard thead tr th
{
    background-color: #ECECEF;
    border: 1px #D0D0D2 solid;
    border-radius: 4px;
    box-shadow: 0 0 2px 0 #D2D2D4 inset;
    height: 24px;
    overflow: hidden;
    text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
    -ms-text-overflow: ellipsis;
    white-space: nowrap;
}

table.scoreboard tbody tr td img
{
    max-width: 42px;
    max-height: 18px;
    box-shadow: 0 0 2px 0 gray;
}

table.scoreboard thead tr th,
table.scoreboard tbody tr td
{
    text-align: center;
}

table.scoreboard tbody tr td.f_name,
table.scoreboard tbody tr td.l_name
{
    text-align: left;
    padding: 0 10px;
    cursor: pointer;
}

table.scoreboard thead tr th.score
{
    cursor: pointer;
}

table.scoreboard tbody tr:hover td.f_name,
table.scoreboard tbody tr:hover td.l_name,
table.scoreboard tbody tr:hover td.team
{
    background-color: rgba(200,200,200,0.35);
    border-radius: 5px;
}

table.scoreboard tbody tr.selected td.f_name,
table.scoreboard tbody tr.selected td.l_name
{
    font-weight: bold;
}

/* What follows is the CSS needed to manage the "checkboxes" in the Scoreboard,
   used to select users. We're simulating checkboxes using table cells, so we
   have to define their appearence in "normal" status as well as during user
   interaction. We did this so we can be more flexible on the style: we need
   to be able to set the background color of the checkbox and to make them a
   little bigger so that the color can be seen better.

   We use eight colors, taken from the Tango Palette:
   http://tango.freedesktop.org/Tango_Icon_Theme_Guidelines#Color_Palette
 */

table.scoreboard tbody tr td.sel
{
    background-color: transparent;
    background-image: url('img/tick_black.png');
    background-repeat: no-repeat;
    background-position: center center;
    opacity: 0;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
}

table.scoreboard tbody tr td.sel:hover
{
    opacity: 0.3;
}

table.scoreboard tbody tr td.sel:active
{
    opacity: 0.5;
}

table.scoreboard tbody tr.selected td.sel
{
    background-image: url('img/tick_white.png');
    background-repeat: no-repeat;
    background-position: center center;
    border: 1px solid rgba(0,0,0,0.2);
    border-radius: 4px;
    opacity: 1;
}

/* Color 1: Blue */

table.scoreboard tbody tr.color1 td.sel
{
    background-color: rgb(52,101,164);
}

table.scoreboard tbody tr.color1 td.sel:hover
{
    background-color: rgb(32,74,135);
}

table.scoreboard tbody tr.color1 td.sel:active
{
    background-color: rgb(26,59,108);
}

/* Color 2: Butter */

table.scoreboard tbody tr.color2 td.sel
{
    background-color: rgb(237,212,0);
}

table.scoreboard tbody tr.color2 td.sel:hover
{
    background-color: rgb(196,160,0);
}

table.scoreboard tbody tr.color2 td.sel:active
{
    background-color: rgb(157,128,0);
}

/* Color 3: Red */

table.scoreboard tbody tr.color3 td.sel
{
    background-color: rgb(204,0,0);
}

table.scoreboard tbody tr.color3 td.sel:hover
{
    background-color: rgb(164,0,0);
}

table.scoreboard tbody tr.color3 td.sel:active
{
    background-color: rgb(131,0,0);
}

/* Color 4: Chameleon */

table.scoreboard tbody tr.color4 td.sel
{
    background-color: rgb(115,210,22);
}

table.scoreboard tbody tr.color4 td.sel:hover
{
    background-color: rgb(78,154,6);
}

table.scoreboard tbody tr.color4 td.sel:active
{
    background-color: rgb(62,123,5);
}

/* Color 5: Orange */

table.scoreboard tbody tr.color5 td.sel
{
    background-color: rgb(245,121,0);
}

table.scoreboard tbody tr.color5 td.sel:hover
{
    background-color: rgb(206,92,0);
}

table.scoreboard tbody tr.color5 td.sel:active
{
    background-color: rgb(165,74,0);
}

/* Color 6: Plum */

table.scoreboard tbody tr.color6 td.sel
{
    background-color: rgb(117,80,123);
}

table.scoreboard tbody tr.color6 td.sel:hover
{
    background-color: rgb(92,53,102);
}

table.scoreboard tbody tr.color6 td.sel:active
{
    background-color: rgb(74,42,82);
}

/* Color 7: Aluminium */

table.scoreboard tbody tr.color7 td.sel
{
    background-color: rgb(136,138,133);
}

table.scoreboard tbody tr.color7 td.sel:hover
{
    background-color: rgb(85,87,83);
}

table.scoreboard tbody tr.color7 td.sel:active
{
    background-color: rgb(68,70,66);
}

/* Color 8: Chocolate */

table.scoreboard tbody tr.color8 td.sel
{
    background-color: rgb(193,125,17);
}

table.scoreboard tbody tr.color8 td.sel:hover
{
    background-color: rgb(143,89,2);
}

table.scoreboard tbody tr.color8 td.sel:active
{
    background-color: rgb(114,71,2);
}



/* This animation stuff is quite huge: every brosers implements it using its
   own prefix and we have to handle them all. In particular: for each animation
   we have to set three properties on a specific selector and we have to define
   a set of keyframes. We use the unprefixed rules and the following prefixes:
    -webkit-...  -moz-...  -ms-...  -o-...

   In addition, we have to cover some particular cases. A row that's being
   animated can seleted or unselected. Thus, we have the following cases:
    ("selected_")? "score_" ("up"|"down")

   Just to give some numbers: we have 20 sets of keyframes in total.
 */

table.scoreboard tbody tr.score_up td.rank
{
    border-radius: 5px;
    -webkit-animation-duration: 5s;
    -moz-animation-duration: 5s;
    -ms-animation-duration: 5s;
    -o-animation-duration: 5s;
    animation-duration: 5s;
    -webkit-animation-name: score_up;
    -moz-animation-name: score_up;
    -ms-animation-name: score_up;
    -o-animation-name: score_up;
    animation-name: score_up;
    -webkit-animation-timing-function: ease-in;
    -moz-animation-timing-function: ease-in;
    -ms-animation-timing-function: ease-in;
    -o-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
}

table.scoreboard tbody tr.score_down td.rank
{
    border-radius: 5px;
    -webkit-animation-duration: 5s;
    -moz-animation-duration: 5s;
    -ms-animation-duration: 5s;
    -o-animation-duration: 5s;
    animation-duration: 5s;
    -webkit-animation-name: score_down;
    -moz-animation-name: score_down;
    -ms-animation-name: score_down;
    -o-animation-name: score_down;
    animation-name: score_down;
    -webkit-animation-timing-function: ease-in;
    -moz-animation-timing-function: ease-in;
    -ms-animation-timing-function: ease-in;
    -o-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
}

@-webkit-keyframes score_up
{
    from {background-color: rgba(138,226,52,0);}
    10% {background-color: rgba(138,226,52,0.6);}
    to {background-color: rgba(138,226,52,0);}
}

@-moz-keyframes score_up
{
    from {background-color: rgba(138,226,52,0);}
    10% {background-color: rgba(138,226,52,0.6);}
    to {background-color: rgba(138,226,52,0);}
}

@-ms-keyframes score_up
{
    from {background-color: rgba(138,226,52,0);}
    10% {background-color: rgba(138,226,52,0.6);}
    to {background-color: rgba(138,226,52,0);}
}

@-o-keyframes score_up
{
    from {background-color: rgba(138,226,52,0);}
    10% {background-color: rgba(138,226,52,0.6);}
    to {background-color: rgba(138,226,52,0);}
}

@keyframes score_up
{
    from {background-color: rgba(138,226,52,0);}
    10% {background-color: rgba(138,226,52,0.6);}
    to {background-color: rgba(138,226,52,0);}
}

@-webkit-keyframes score_down
{
    from {background-color: rgba(239,41,41,0);}
    10% {background-color: rgba(239,41,41,0.6);}
    to {background-color: rgba(239,41,41,0);}
}

@-moz-keyframes score_down
{
    from {background-color: rgba(239,41,41,0);}
    10% {background-color: rgba(239,41,41,0.6);}
    to {background-color: rgba(239,41,41,0);}
}


@-ms-keyframes score_down
{
    from {background-color: rgba(239,41,41,0);}
    10% {background-color: rgba(239,41,41,0.6);}
    to {background-color: rgba(239,41,41,0);}
}

@-o-keyframes score_down
{
    from {background-color: rgba(239,41,41,0);}
    10% {background-color: rgba(239,41,41,0.6);}
    to {background-color: rgba(239,41,41,0);}
}

@keyframes score_down
{
    from {background-color: rgba(239,41,41,0);}
    10% {background-color: rgba(239,41,41,0.6);}
    to {background-color: rgba(239,41,41,0);}
}

table.scoreboard tbody tr.selected.score_up td.rank
{
    border-radius: 5px;
    -webkit-animation-duration: 10s;
    -moz-animation-duration: 10s;
    -ms-animation-duration: 10s;
    -o-animation-duration: 10s;
    animation-duration: 10s;
    -webkit-animation-name: selected_score_up;
    -moz-animation-name: selected_score_up;
    -ms-animation-name: selected_score_up;
    -o-animation-name: selected_score_up;
    animation-name: selected_score_up;
    -webkit-animation-timing-function: ease-in;
    -moz-animation-timing-function: ease-in;
    -ms-animation-timing-function: ease-in;
    -o-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
}

table.scoreboard tbody tr.selected.score_down td.rank
{
    border-radius: 5px;
    -webkit-animation-duration: 10s;
    -moz-animation-duration: 10s;
    -ms-animation-duration: 10s;
    -o-animation-duration: 10s;
    animation-duration: 10s;
    -webkit-animation-name: selected_score_down;
    -moz-animation-name: selected_score_down;
    -ms-animation-name: selected_score_down;
    -o-animation-name: selected_score_down;
    animation-name: selected_score_down;
    -webkit-animation-timing-function: ease-in;
    -moz-animation-timing-function: ease-in;
    -ms-animation-timing-function: ease-in;
    -o-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
}

@-webkit-keyframes selected_score_up
{
    from {background-color: rgba(138,226,52,0);}
    5% {background-color: rgba(138,226,52,1);}
    to {background-color: rgba(138,226,52,0);}
}

@-moz-keyframes selected_score_up
{
    from {background-color: rgba(138,226,52,0);}
    5% {background-color: rgba(138,226,52,1);}
    to {background-color: rgba(138,226,52,0);}
}

@-ms-keyframes selected_score_up
{
    from {background-color: rgba(138,226,52,0);}
    5% {background-color: rgba(138,226,52,1);}
    to {background-color: rgba(138,226,52,0);}
}

@-o-keyframes selected_score_up
{
    from {background-color: rgba(138,226,52,0);}
    5% {background-color: rgba(138,226,52,1);}
    to {background-color: rgba(138,226,52,0);}
}

@keyframes selected_score_up
{
    from {background-color: rgba(138,226,52,0);}
    5% {background-color: rgba(138,226,52,1);}
    to {background-color: rgba(138,226,52,0);}
}

@-webkit-keyframes selected_score_down
{
    from {background-color: rgba(239,41,41,0);}
    5% {background-color: rgba(239,41,41,1);}
    to {background-color: rgba(239,41,41,0);}
}

@-moz-keyframes selected_score_down
{
    from {background-color: rgba(239,41,41,0);}
    5% {background-color: rgba(239,41,41,1);}
    to {background-color: rgba(239,41,41,0);}
}

@-ms-keyframes selected_score_down
{
    from {background-color: rgba(239,41,41,0);}
    5% {background-color: rgba(239,41,41,1);}
    to {background-color: rgba(239,41,41,0);}
}

@-o-keyframes selected_score_down
{
    from {background-color: rgba(239,41,41,0);}
    5% {background-color: rgba(239,41,41,1);}
    to {background-color: rgba(239,41,41,0);}
}

@keyframes selected_score_down
{
    from {background-color: rgba(239,41,41,0);}
    5% {background-color: rgba(239,41,41,1);}
    to {background-color: rgba(239,41,41,0);}
}

/*
   The animation stuff ends here.
 */

table.scoreboard tbody tr td.score
{
    opacity: 0.75;
    border-radius: 5px;
}

table.scoreboard tbody tr td.sort_key
{
    opacity: 1;
    border: 1px solid #777777;
    box-shadow: 0 0 1px white inset;
}

table.scoreboard tbody tr:hover td.score,
table.scoreboard tbody tr.selected td.score
{
    opacity: 1;
}

.score_0
{
    background-color: #F40000;
    /*background-image: -moz-linear-gradient(center bottom, rgb(204, 0, 0) 0%, rgb(244, 0, 0) 100%);*/
}

.score_0_10
{
    background-color: #EB1D00;
    /*background-image: -moz-linear-gradient(center bottom, rgb(210, 38, 0) 0%, rgb(235, 29, 0) 100%);*/
}

.score_10_20
{
    background-color: #E23A00;
    /*background-image: -moz-linear-gradient(center bottom, rgb(216, 77, 0) 0%, rgb(226, 58, 0) 100%);*/
}

.score_20_30
{
    background-color: #D95700;
    /*background-image: -moz-linear-gradient(center bottom, rgb(222, 115, 0) 0%, rgb(217, 87, 0) 100%);*/
}

.score_30_40
{
    background-color: #D17400;
    /*background-image: -moz-linear-gradient(center bottom, rgb(228, 154, 0) 0%, rgb(209, 116, 0) 100%);*/
}

.score_40_50
{
    background-color: #C89100;
    /*background-image: -moz-linear-gradient(center bottom, rgb(234, 192, 0) 0%, rgb(200, 145, 0) 100%);*/
}

.score_50_60
{
    background-color: #B99F00;
    /*background-image: -moz-linear-gradient(center bottom, rgb(225, 211, 2) 0%, rgb(185, 159, 0) 100%);*/
}

.score_60_70
{
    background-color: #A39E01;
    /*background-image: -moz-linear-gradient(center bottom, rgb(203, 211, 6) 0%, rgb(163, 158, 1) 100%);*/
}

.score_70_80
{
    background-color: #8E9D02;
    /*background-image: -moz-linear-gradient(center bottom, rgb(181, 211, 10) 0%, rgb(142, 157, 2) 100%);*/
}

.score_80_90
{
    background-color: #789C03;
    /*background-image: -moz-linear-gradient(center bottom, rgb(159, 210, 14) 0%, rgb(120, 156, 3) 100%);*/
}

.score_90_100
{
    background-color: #639B04;
    /*background-image: -moz-linear-gradient(center bottom, rgb(137, 210, 18) 0%, rgb(99, 155, 4) 100%);*/
}

.score_100
{
    background-color: #4E9A05;
    /*background-image: -moz-linear-gradient(center bottom, rgb(115, 210, 22) 0%, rgb(78, 154, 5) 100%);*/
}


/******************************************************************************\
|                                                                              |
|                                   User panel                                 |
|                                   ----------                                 |
\******************************************************************************/


body:not(.user_panel) .UserPanel_bg
{
    display: none;
}

.UserPanel_bg
{
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    z-index: 1000;
    background-color: rgba(0,0,0,0.5);
    overflow: auto;
}

.UserPanel
{
    width: 940px;
    margin: 48px auto;
    background-color: white;
    border-radius: 12px;
    padding: 20px;
    position: relative;
}

.UserPanel .close
{
    position: absolute;
    top: -10px;
    right: -10px;
    width: 24px;
    height: 24px;
    cursor: pointer;
}

.UserPanel .header
{
    display: table;
    table-layout: fixed;
    width: 100%;
    border-spacing: 0;
    vertical-align: top;
}

.UserPanel .summary
{
    display: table-cell;
    width: 460px;
    height: 242px;
    text-align: right;
}

.UserPanel .summary .f_name,
.UserPanel .summary .l_name,
.UserPanel .summary .team
{
    font-size: 2em;
    line-height: 1.5em;
}

.UserPanel .summary .team
{
    margin-top: 32px;
}

.UserPanel .summary .face
{
    position: absolute;
    top: 21px;
    left: 21px;
    max-width: 160px;
    max-height: 240px;
    box-shadow: 0 0 2px 1px gray;
}

.UserPanel .summary .flag
{
    margin: 1px;
    box-shadow: 0 0 2px 1px gray;
}

.UserPanel .summary .flag.hidden
{
    display: none;
}

.UserPanel .scores
{
    display: table-cell;
    width: 460px;
    padding-left: 20px;
}

.UserPanel .scores .score_table
{
    width: 100%;
    table-layout: fixed;
    border-spacing: 2px;
}

.UserPanel .scores td
{
    height: 22px;
}

.UserPanel .scores col.name
{
    width: 60%;
}

.UserPanel .scores col.score,
.UserPanel .scores col.rank
{
    width: 12%;
}

.UserPanel .scores col.show
{
    width: 14%;
}

.UserPanel .scores tr td:nth-child(2),
.UserPanel .scores tr td:nth-child(3)
{
    padding-left: 4px;
}

.UserPanel .scores tbody tr td:nth-child(4)
{
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    user-select: none;
    text-align: center;
    border: 1px solid #999999;
    box-shadow: 0 0 1px 0 gray;
    background-color: #eeeeee;
    border-radius: 3px;
    cursor: pointer;
}

.UserPanel .scores tbody tr td:nth-child(4):hover:not(.active)
{
    text-align: center;
    border: 1px solid gray;
    box-shadow: 0 0 1px 0 black;
    background-color: #dddddd;
}

.UserPanel .scores tbody tr td:nth-child(4):active:not(.active)
{
    text-align: center;
    border: 1px solid gray;
    box-shadow: 0 0 1px 0 black;
    background-color: #cccccc;
}

.UserPanel .scores tbody tr td:nth-child(4).active
{
    opacity: 0.4;
    cursor: default;
}

.UserPanel .scores tr.global
{
    background-color: #dddddd;
}

.UserPanel .scores tr.contest
{
    background-color: #eeeeee;
}

.UserPanel .scores tr.task
{
    background-color: #ffffff;
}

.UserPanel .scores tr.global td:first-child
{
    padding-left: 5px;
}

.UserPanel .scores tr.contest td:first-child
{
    padding-left: 25px;
}

.UserPanel .scores tr.task td:first-child
{
    padding-left: 45px;
}

.UserPanel .title
{
    margin-top: 24px;
    font-size: 2em;
    line-height: 1.5em;
    text-align: center;
}

.UserPanel .submits
{
    margin-top: 24px;
    width: 100%;
}

.UserPanel .submits table
{
    width: 100%;
    table-layout: fixed;
}

.UserPanel .submits td
{
    height: 22px;
    padding-left: 4px;
}

.UserPanel .submits thead
{
    background-color: #dddddd;
}

.UserPanel .submits tbody tr:nth-child(even)
{
    background-color: #eeeeee;
}

.UserPanel .submits tbody tr:nth-child(odd)
{
    background-color: #f8f8f8;
}

.UserPanel .charts
{
    margin-top: 24px;
    width: 100%;
}
